{{#each products}}
    <p>{{this.title}}</p>
    <p>{{this.price}}</p>
{{/each}}

{{!-- <div>
    <table id="container">
        <thead>
            <tr>
                <th><p class="TableTitle">ID</p></th>
                <th><p class="TableTitle">Title</p></th>
                <th><p class="TableTitle">Description</p></th>
                <th><p class="TableTitle">Price</p></th>
                <th><p class="TableTitle">Thumbnail</p></th>
                <th><p class="TableTitle">Stock</p></th>
                <th><p class="TableTitle">Category</p></th>
                <th><p class="TableTitle">Status</p></th>
                <th><p class="TableTitle">Code</p></th>
            </tr>
        </thead>

        <tbody id="products-container">
        </tbody>
    </table>
</div>

<script src="/socket.io/socket.io.js"></script>  
<script src="/js/index.js"></script> --}}